.Icon {
  position: relative;
  display: inline-block;
}

.Icon::after,
.Icon::before {
  box-sizing: border-box;
}

/* Mail icon */

.Icon--mail {
  width: 28px;
  height: 20px;
}

.Icon--mail::before,
.Icon--mail::after {
  content: '';
  position: absolute;
}

.Icon--mail::before {
  width: 100%;
  height: 100%;
  border: 1px solid currentColor;
}

.Icon--mail::after {
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translate(-50%, -50%);
  border-bottom: 1px solid currentColor;
  border-right: 1px solid currentColor;
  top: calc(50% - 1px);
  left: calc(50% - 5px);
}

/* Next icon */

.Icon--next {
  width: 20px;
  height: 20px;
}

.Icon--next::after {
  content: '';
  display: block;
  transform: rotate(45deg);
  height: 100%;
  width: 100%;
  border-top: 4px solid currentColor;
  border-right: 4px solid currentColor;
}
