/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */

/* Document
   ========================================================================== */

/**
 * Use a better box model (opinionated).
 */

html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

/**
 * Use a more readable tab size (opinionated).
 */

:root {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */

body {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct height in Firefox.
 */

hr {
	height: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp,
pre {
	font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */

legend {
	padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */

progress {
	vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Chrome and Safari.
 */

summary {
	display: list-item;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/eot/FiraCode-Light.eot');
  src: url('/fonts/eot/FiraCode-Light.eot') format('embedded-opentype'),
    url('/fonts/woff2/FiraCode-Light.woff2') format('woff2'),
    url('/fonts/woff/FiraCode-Light.woff') format('woff'),
    url('/fonts/ttf/FiraCode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/eot/FiraCode-Regular.eot');
  src: url('/fonts/eot/FiraCode-Regular.eot') format('embedded-opentype'),
    url('/fonts/woff2/FiraCode-Regular.woff2') format('woff2'),
    url('/fonts/woff/FiraCode-Regular.woff') format('woff'),
    url('/fonts/ttf/FiraCode-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/eot/FiraCode-Medium.eot');
  src: url('/fonts/eot/FiraCode-Medium.eot') format('embedded-opentype'),
    url('/fonts/woff2/FiraCode-Medium.woff2') format('woff2'),
    url('/fonts/woff/FiraCode-Medium.woff') format('woff'),
    url('/fonts/ttf/FiraCode-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/eot/FiraCode-Bold.eot');
  src: url('/fonts/eot/FiraCode-Bold.eot') format('embedded-opentype'),
    url('/fonts/woff2/FiraCode-Bold.woff2') format('woff2'),
    url('/fonts/woff/FiraCode-Bold.woff') format('woff'),
    url('/fonts/ttf/FiraCode-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --col1: gainsboro;
  --col2: #cccccc;
  --col3: #b1b1b1;
  --col4: #242c37;
  --font-primary: 'Fira Code', sans-serif;
  --font-system: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif; /* postcssPresetEnv */
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px #242c37;
  -webkit-box-shadow: inset 0 0 3px var(--col4);
}

::-webkit-scrollbar-thumb {
  background-color: gainsboro;
  background-color: var(--col1);
}

::selection {
  background: gainsboro;
  background: var(--col1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: var(--lightGrey);
}

body {
  font-family: 'Fira Code', sans-serif;
  font-family: var(--font-primary);
  min-height: 100%;
  position: relative;
  background: #242c37;
  background: var(--col4);
  color: gainsboro;
  color: var(--col1);
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  color: 'Fira Code', sans-serif;
  color: var(--font-primary);
}

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  color: #b1b1b1;
  color: var(--col3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

h1 {
  letter-spacing: 0.5rem;
  font-size: 6rem;
  margin: 0;
  font-weight: 600;
  color: gainsboro;
  color: var(--col1);
}

h2 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
  color: var(--col2);
}

/* Container */
.Container {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
}

.Container--Left,
.Container--Right {
  width: 50%;
  position: relative;
  min-height: 100vh;
}

.Container--Left {
  position: fixed;
  left: 0;
  top: 0;
}

.Container--Right {
  position: absolute;
  right: 0;
  top: 0;
}

.Content {
  position: relative;
  padding: 7.5rem;
  min-height: calc(100vh - 6rem);
  height: auto;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #242c37;
  background-color: var(--col4);
  opacity: 0.2;
  z-index: 1;
}

/* Buttons */

.Button {
  background: var(--primary);
  color: gainsboro;
  color: var(--col1);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  display: inline-block;
  padding: 1.25rem 3rem;
  border: 2px solid gainsboro;
  border: 2px solid var(--col1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}
.Button:hover,
.Button:focus {
  opacity: 0.95;
  outline: none;
}
.Button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}
.Button-blank {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 4rem;
  width: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid var(--lightGrey);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.025);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.025);
  padding: 0 2rem;
}

.Nav--Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 6rem;
}

.Nav--Links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Nav--Links > * + * {
  margin-left: 1rem;
}

.Nav .Logo {
  margin-right: 3rem;
  position: relative;
}

.Nav--MenuButton {
  display: none !important;
}

.NavLink {
  padding: 0.5rem 1rem;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: color 0.2s, border-bottom-color 0.2s;
  transition: color 0.2s, border-bottom-color 0.2s;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid;
  border-bottom-color: transparent;
}

.NavLink:hover,
.NavLink.active,
.NavLink:focus {
  color: var(--primary);
  border-bottom-color: currentColor;
}

@media (max-width: 600px) {
  .Nav--Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .Nav--MenuButton {
    display: block !important;
    margin-left: auto;
    z-index: 1;
  }
  .Nav .Logo {
    z-index: 1;
  }

  .Nav--Links {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    -webkit-animation: Nav--Links 0.2s ease;
            animation: Nav--Links 0.2s ease;
  }

  .Nav--Links > * + * {
    margin-left: 0;
    margin-top: 1rem;
  }

  .Nav-active .Nav--Links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .Nav-active .NavLink {
    -webkit-animation: Nav--Link 0.3s ease-out;
            animation: Nav--Link 0.3s ease-out;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }

  .Nav .NavLink {
    font-size: 2.5rem;
    font-weight: 300;
  }

  .Nav .NavLink:nth-of-type(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  .Nav .NavLink:nth-of-type(3) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .Nav .NavLink:nth-of-type(4) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .Nav .NavLink:nth-of-type(5) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
}

@-webkit-keyframes Nav--Link {
  from {
    -webkit-transform: translate(0rem, 1rem);
            transform: translate(0rem, 1rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes Nav--Link {
  from {
    -webkit-transform: translate(0rem, 1rem);
            transform: translate(0rem, 1rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes Nav--Links {
  from {
    opacity: 0;
  }
}

@keyframes Nav--Links {
  from {
    opacity: 0;
  }
}

.Image {
  display: block;
  width: 100%;
}

.BackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.BackgroundImage .Image {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.LazyImage {
  opacity: 0;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.LazyImage.faded {
  opacity: 1;
}

.Align--Bottom {
  background-position: bottom;
}

.Contact {
}

.Contact--Details {
  margin-top: 3rem;
}

.Contact--Details--Item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid var(--lightGrey);
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.Contact--Details--Item:hover,
.Contact--Details--Item:focus {
  color: var(--primary);
}

.Contact--Details--Item svg {
  margin-right: 1.5rem;
  color: var(--primary);
}

@media (min-width: 750px) {
  .Contact--Section1--Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .Contact--Section1--Container > * {
    width: calc(50% - 2rem);
  }
}

.Content--Image,
.Content img {
  max-width: 100%;
  display: block;
  height: auto;
  margin-bottom: 2.5rem;
}

.Content--Iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.Content--Iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  padding: 15rem 0;
}

.PageHeader .BackgroundImage {
  opacity: 0.8;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 6rem;
  margin-bottom: 0;
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
}

.PageHeader .container {
  -webkit-animation: fadeIn 0.5s ease-out;
          animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}

.SVGIcon {
  height: 5.6rem;
  width: 5.6rem;
  position: relative;
  display: inline-block;
  background: lightblue;
  border-radius: 50%;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.SVGIcon--icon {
  position: absolute;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background: whitesmoke;
  height: 60%;
  width: 60%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.SVGIcon:hover {
  background: yellow;
}

.SVGIcon:hover .SVGIcon--icon {
  background: purple;
}

.PostCard {
  text-decoration: none;
  background: white;
  color: inherit;
  border: 1px solid var(--lightGrey);
  border-radius: var(--borderRadius);
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
}

.PostCard:hover,
.PostCard:focus {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
}

.PostCard--Image {
  position: relative;
  margin: 0 0 2rem 0;
  width: 100%;
  height: 15rem;
}

.PostCard--Title {
  margin: 0;
}

.PostCard--Content {
  padding: 0 2.5rem 2.5rem;
}

.PostCard--Category {
  font-size: 1.2rem;
  min-height: 1.2em;
  line-height: 1;
  margin: 0.5em 0;
}

.PostSection {
}

.PostSection--Grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.PostSection button {
  margin-top: 1rem;
  margin-top: 5rem;
  background: white;
  border: 2px solid black;
  padding: 1rem 2rem;
  cursor: pointer;
}

.PostSection button:hover {
  background: black;
  border: 2px solid white;
  color: white;
}

.PostSection--Grid > * {
  width: calc(33.33% - 2rem);
  margin-bottom: 4rem;
}

@supports (display: grid) {
  .PostSection--Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }

  .PostSection--Grid > * {
    width: auto;
    margin: 0;
  }
}

.PostSection--Title {
  width: 100%;
  max-width: 200px;
  margin: 0 auto 4rem auto;
  line-height: 1.2;
}

@media screen and (max-width: 888px) {
  .PostSection--Grid > * {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto 4rem;
    display: block;
  }

  @supports (display: grid) {
    .PostSection--Grid {
      display: block;
      grid-template-columns: 1;
      grid-gap: 0;
    }
  }
}

.PostCategoriesNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.PostCategoriesNav > * + * {
  margin-left: 1rem;
}

.PostCategoriesNav input[type='text'] {
  right: 0;
  position: absolute;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  color: black;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.PostCategoriesNav input[type='text']:focus {
  outline: none;
}

.PostCategoriesNav input[type='text']::-webkit-input-placeholder {
  color: black;
}

.PostCategoriesNav input[type='text']:-ms-input-placeholder {
  color: black;
}

.PostCategoriesNav input[type='text']::-ms-input-placeholder {
  color: black;
}

.PostCategoriesNav input[type='text']::placeholder {
  color: black;
}

@media (max-width: 600px) {
  .PostCategoriesNav input[type='text'] {
    position: relative;
    width: 100%;
  }
}

.SinglePost {
  background: var(--lightGrey);
}

.SinglePost--BackButton {
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.SinglePost--BackButton svg {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  height: 1.2em;
}

.SinglePost--BackButton:hover svg,
.SinglePost--BackButton:focus svg {
  -webkit-transform: translateX(-0.25em);
          transform: translateX(-0.25em);
}

.SinglePost--Content {
  background: white;
  padding: 8rem 8rem 4rem 8rem;
}

@media screen and (max-width: 750px) {
  .SinglePost--Content {
    padding: 4rem 2rem;
  }
}

.SinglePost--Meta {
  font-size: 1rem;
  margin: 0 0 2rem 0;
  text-align: center;
}

.SinglePost--Meta > * + * {
  margin-left: 0.75em;
}

.SinglePost--Title {
  text-align: center;
  line-height: 1.2;
}

.SinglePost--InnerContent {
  padding: 0 8rem;
}

@media screen and (max-width: 750px) {
  .SinglePost--InnerContent {
    padding: 0;
  }
}

.SinglePost--Pagination {
  margin: 4rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.SinglePost--Pagination--Link {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.SinglePost--Pagination--Link.next {
  margin-left: auto;
}


/*# sourceMappingURL=cms.css.map*/